body {
    margin: 20px;
    background: #bab3be;
}

.error {
    color: red;
    font-family: 'News Cycle', sans-serif;
}

.logged_in {
    font-family: 'News Cycle', sans-serif;
}

.main_title {
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 2px;
    font-size: 50px;
}

.add_title {
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 2px;
    font-size: 50px;
}

.nav a {
    color: #000000;
    padding-right: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
}

a:hover {
    color: #ffffff;
}

.log {
    float: right;
}

.title {
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 4px;
}

.body {
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 4px;
}

.blog_posts a {
    color: #43434b;
    font-family: 'Shadows Into Light Two', cursive;
    text-decoration: none;
}

.blog_posts h3 {
    font-family: 'News Cycle', sans-serif;
    font-size: 23px;
}

.submit h1 {
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 2px;
    font-size: 50px;
}

.submit h3 {
    font-family: 'News Cycle', sans-serif;
}

.posts {
    font-family: 'News Cycle', sans-serif;
    font-size: 24px;
}

.user_title {
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 2px;
    font-size: 50px;
}

.username {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

.username a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
}

.user_posts a {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
}

.login {
    font-family: 'News Cycle', sans-serif;
}

.register_link{
    font-family: 'News Cycle', sans-serif;
}

.register_link a {
    color: #ffffff;
}

.register_link a:hover {
    color: #000000;
}

.uname {
    font-family: 'News Cycle', sans-serif;
}

.password {
    font-family: 'News Cycle', sans-serif;
}

.verify {
    font-family: 'News Cycle', sans-serif;
}

.register_here {
    font-family: 'News Cycle', sans-serif;
}

