{% extends 'base.html' %}
{% block content %}

<h1 class="main_title">&bull;Build a Blog&bull;</h1>

{% if submitted|length == 0 %}
<p class="posts">No posts yet....</p>

{% elif submitted %}
    <ul>
        {% for item in submitted %}
        <li class="blog_posts">
            <a href='./blog?id={{item.id}}'><h1>{{item.title}}</h1></a>
            <h3>{{item.post}}</h3>

            <p class="username">Written by: <a href='./blog?user={{item.owner.id}}'>{{item.owner.username}}</a></p>

            <hr>
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}